<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask and SqLite</title>
</head>
<body>
<form method ="POST">
    <label>Enter name:</label>
    <input type="name" name = "name" placeholder="Enter your name" required><br>
    <label>Enter email:</label>
    <input type="name" name = "email" placeholder="Enter your EMAIL" required><br>
    <label>Enter city:</label>
    <input type="name" name = "city" placeholder="Enter your city" required><br>
        <label>Enter country:</label>
    <input type="name" name = "country" placeholder="Enter your country" required><br>
        <label>Enter phone number:</label>
    <input type="name" name = "phone" placeholder="Enter your phone" required><br>
    <input type="submit" value="Submit"><br>
</form>
</body>
</html>